* {
  font-family: "Roboto", sans-serif;
  color: white;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.top-background {
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-image: url(/assets/images/background.png);
  height: 650px;
}

.name {
  font-size: 46px;
  padding-top: 120px;
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 15px;
}

.about-me {
  font-size: 24px;
  font-weight: 400;
}

.about-me-short {
  padding-top: 40px;
  font-size: 36px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

.block-info {
  padding-top: 25px;
  padding-bottom: 25px;
}

.block-horizontal {
  display: inline-flex;
  flex-direction: row;
}

.avatar-circle {
  position: absolute;
  top: 500px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border-radius: 50%;
  max-width: 315px;
  max-height: 315px;
  background-color: white;
  padding: 10px;
}

.avatar-circle-image {
  border-radius: 50%;
  width: 100%;
  height: auto;
}

.wrapper {
  padding-top: 200px;
  background-color: #1c3864;
  padding-left: 200px;
  padding-right: 200px;
}

.h2 {
  font-size: 48px;
  font-weight: 700px;
  padding-bottom: 30px;
}

.h3 {
  font-weight: 700;
  font-size: 19px;
}

.p {
  font-weight: 500;
  font-size: 18px;
}

.skill-list {
  display: inline-flex;
  justify-content: space-between;
  column-gap: 55px;
  flex-direction: row;
  align-items: center;
  padding-top: 30px;
}

.skill-list-card {
  margin: 0 auto;
  width: 250px;
  height: 250px;
}

.contact-list {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 30px;
}

.contact-list-card {
  align-items: center;
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}

.contact-list-card-p {
  text-align: left;
  width: 100%;
  float: left;
}

.contact-list-card-image {
  background-color: #5484cf;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.image-laptop {
  margin: 0 auto;
  width: 100%;
  height: auto;
  max-width: 500px;
  padding-left: 30px;
}

.down-rectangle {
  height: 100px;
  background-color: #041023;
}

@media (max-width: 479px) {
  .name {
    font-size: 28px;
  }
  .about-me-short {
    font-size: 18px;
  }
  .h2 {
    font-size: 32px;
  }
}

@media (max-width: 1199px) {
  .block-horizontal {
    flex-direction: column;
  }
  .image-laptop {
    padding-left: 0px;
    padding-top: 25px;
  }
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  .skill-list {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
  }
}
